*,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  box-sizing: border-box;
}
header {
  margin-top: 0;
}
.searchbar {
  margin-top: 0.6%;
}
.searchbar,
input {
  width: 72%;
  height: 3%;
  font-family: lato sans-serif;
  font-size: 95%;
  padding: 0.5%;
  border-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-style: none;
  border: 1px solid gray;
  opacity: 0.9;
  border-radius: 2px;
  padding-right: 2%;
}
.searchbar,
input:active {
  text-decoration: none;
  border-style: none;
}
.list-panal {
  float: left;
}
.list-panal ion-icon {
  font-size: 150%;
}
.icon-list ion-icon {
  font-size: 100%;
}
.person ion-icon {
  font-size: 200%;
}

.icon-list ul {
  position: absolute;
  top: 1%;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 15%;
}
/* .icon-list li {
  display: inline-block;
  margin-left: 8%;
} */

a {
  color: #5f6164 !important;
}

.searchbar button {
  padding: 0 3%;
  border: 1px rgb(194, 194, 194) solid;
  background-color: white;
  opacity: 0.6;
  border-radius: 5%;
  background-color: rgb(235, 235, 235);
}
.searchbar button ion-icon {
  font-size: 90%;
}
.searchbar button:hover {
  background-color: rgb(219, 219, 219);
}
.icon {
  float: left;
  margin-left: 2%;
  margin-top: 0;
  color: red;
  margin-right: 0;
}
.icon img {
  width: 30%;
}
.icon h6 {
  font-family: Anton monospace;
  text-transform: capitalize;
  font-weight: 700;
  color: black;
}
.drop-icons {
  margin-top: 3%;
  margin-left: -0.9%;
  padding: 0;
  width: 7%;
}
.drop-icons ul {
  list-style: none;
  text-align: center;
}
.drop-icons li {
  padding-top: 5%;
  margin-bottom: -3%;
}
.drop-icons li small {
  font-size: 50%;
  text-align: center;
}
.drop-icons li a:hover,
.drop-icons li a:active {
  color: red !important;
}
.drop-icons ion-icon {
  font-size: 120%;
}
.videoList {
  position: absolute;
  right: 1%;

  top: 10%;
  width: 30%;
  height: auto;
}
.videoList img {
  width: 95%;
}
.videoList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.videoList li {
  margin-bottom: 1%;
}
.videoList li .title {
  font-size: 70%;
  width: 50%;
}
.videoPanal {
  position: absolute;
  top: 10%;
  left: 5%;
}
.videoPanal iframe {
  width: 965px;
  height: 540px;
}
.Details {
  position: absolute;
  top: 83%;
  left: 4%;
  width: 63%;
}
.Details h6 {
  font-size: 0.9rem;
  border-bottom: 1px solid rgb(218, 218, 218);
  padding-bottom: 2%;
}
.Details p {
  margin-top: 2%;
  width: 60%;

  font-size: 0.7rem;

  text-align: start;
  font-family: Arial, Helvetica, sans-serif;
}
.mic,
.mic:active,
.mic:hover {
  border: 0;
  background-color: white !important;
  padding: 0 2%;
  list-style: none;
}

/* ************************************************************************************************** */
/* ----------------------------------------------------------------------------------------------------- */
/* ***************************************************************************************************** */
@media only screen and (max-width: 1296px) {
  .videoPanal iframe {
    width: 780px;
    height: 500px;
  }
}

@media only screen and (max-width: 1200px) {
  .videoPanal {
    position: absolute;
    top: 10%;
    left: 3%;
    overflow: hidden;
  }
  .videoPanal iframe {
    width: 740px;
    height: 450px;
    background-size: cover !important;
  }
}

@media only screen and (max-width: 1023px) {
  .videoPanal {
    position: absolute;
    top: 28%;
    left: 3%;
    overflow: hidden;
  }
  .videoPanal iframe {
    width: 510px;
    height: 350px;
  }
  .videoList {
    position: absolute;
    top: 28%;
    width: 36%;
    height: auto;
    margin-left: 5%;
  }
  .icon-list ul {
    width: 38%;
  }
  .Details {
    position: absolute;
    top: 140%;
    left: 1%;
    width: 65%;
  }
}

@media only screen and (max-width: 767px) {
  .videoPanal {
    top: 14%;
    left: 8%;
  }
  .Details {
    position: absolute;
    top: 44%;
    left: 4%;
    width: 90%;
  }

  .videoPanal iframe {
    width: 700px;
    height: 260px;
  }
  .videoList {
    position: absolute;
    top: 68%;
    width: 100%;
    height: auto;
    margin-left: 5%;
  }
  .list-panal {
    float: left;
    margin-left: 1.5%;
    margin-top: 0.5%;
  }
  .icon-list ul {
    position: absolute;
    top: 1%;
    right: 0;
    list-style: none;
    width: 34%;
  }
  .icon-list ion-icon {
    font-size: 85%;
  }
  .searchbar {
    margin-top: 1%;
  }
  .searchbar,
  input {
    width: 92%;
    height: 2%;
    font-family: sans-serif;
    font-size: 75%;
    padding: 0.5%;
  }
  .searchbar button {
    padding: 0 2%;
    border: 1px gray solid;
    border-radius: 5%;
  }
  .searchbar button ion-icon {
    font-size: 65%;
  }
  .icon img {
    width: 25%;
  }
}
@media only screen and (max-width: 540px) {
  .videoPanal iframe {
    width: 470px;
    height: 210px;
  }
  .videoList {
    position: absolute;
    top: 58%;
    width: 100%;
    height: auto;
  }
  .list-panal {
    float: left;
    margin-left: 1.5%;
    margin-top: 0.5%;
  }
  .icon-list ul {
    position: absolute;
    top: 1%;
    right: 0;
    list-style: none;
    width: 34%;
  }
  .icon-list ion-icon {
    font-size: 85%;
  }
  .searchbar {
    margin-top: 1%;
  }
  .searchbar,
  input {
    width: 92%;
    height: 2%;
    font-family: sans-serif;
    font-size: 75%;
    padding: 0.5%;
  }
  .searchbar button {
    padding: 0 2%;
    border: 1px gray solid;
    border-radius: 5%;
  }
  .searchbar button ion-icon {
    font-size: 65%;
  }
  .icon img {
    width: 25%;
  }
}
@media only screen and (max-width: 420px) {
  .videoPanal iframe {
    width: 370px;
    height: 210px;
  }
  .videoList {
    position: absolute;
    top: 70%;
    width: 95%;
    height: auto;
  }
  .list-panal {
    float: left;
    margin-left: 1.5%;
    margin-top: 0.5%;
  }

  .icon-list ul {
    position: absolute;
    top: 1%;
    right: 0;
    list-style: none;
    width: 34%;
  }
  .icon-list ion-icon {
    font-size: 85%;
  }
  .searchbar {
    margin-top: 1%;
  }
  .searchbar,
  input {
    width: 92%;
    height: 2%;
    font-family: sans-serif;
    font-size: 75%;
    padding: 0.5%;
  }
  .searchbar button {
    padding: 0 2%;
    border: 1px gray solid;
    border-radius: 5%;
  }
  .searchbar button ion-icon {
    font-size: 65%;
  }
  .icon img {
    width: 25%;
  }
}
